@using MangoInventory.Models
@model IEnumerable<MangoInventory.Models.QuotationView>

@{
    Layout ="~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
    QuotationView quotation = ViewBag.Quotation;
    decimal totalAmount = 0;
}

<h2>Edit</h2>
@*<div>
    @foreach (QuotationView item in Model)
    {
        using (Ajax.BeginForm("ViewQuotation", "Quotation", new AjaxOptions
         {
             InsertionMode = InsertionMode.Replace,
             UpdateTargetId = "_ViewQuotationPartial"

         }))
         {
            <input type="hidden" id="QuotationId" name="QuotationId" value="@item.QuotationId"/>
            <input type="hidden" id="Id" name="Id" value="@item.Id"/>
            <input id="Quantity" name="Quantity" value="@item.Quantity"/>
             <input type="submit" value="Edit"/>
         }
    }
</div>*@

<div>
    @Html.Partial("_ViewQuotationPartial")
</div>